@using GestorPaciente.Core.Application.ViewModels.LaboratoryTestResult;
@model LaboratoryTestResultSaveViewModel;
@{

    ViewData["Title"] = "Prueba de laboratorio || Eliminar";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">Seguro que deseas eliminar este Resultado</h1>
                    <form method="post" asp-controller="LaboratoryTestResult" asp-action="DeletePost">
                        <div class="form-group">
                            <input type="hidden" asp-for="Id">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-danger">
                                Aceptar
                            </button>
                            <a class="btn btn-warning ml-2" asp-controller="LaboratoryTestResult" asp-action="Index">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


